<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voyager.mapper.ApplicationReviewMapper">

    <update id="update" >
        UPDATE ApplicationReview
        <set>
            <if test="reviewResult != null">
                review_result = #{reviewResult},
            </if>
            <if test="reviewStatus != null">
                review_status = #{reviewStatus},
            </if>
        </set>
        WHERE apply_id = #{applyId}
    </update>

    <select id="selectByCriteria" resultType="com.voyager.domain.pojo.ApplicationReview">
        SELECT * FROM ApplicationReview
        <where>
            <if test="reviewStatus != null">
                AND review_status = #{reviewStatus}
            </if>
            <if test="jobId != null">
                AND job_id = #{jobId}
            </if>
            <if test="idNumber != null and idNumber != ''">
                AND id_number = #{idNumber}
            </if>

        </where>
        order by apply_id desc
    </select>
<!--    <select id="countPendingReviewsBySpecificJob" parameterType="int" resultType="java.util.Map">-->
<!--        CALL CountPendingReviewsBySpecificJob(#{jobId,jdbcType=INTEGER})-->
<!--    </select>-->

</mapper>

